<table class="table table-hover">
  <tr>
    <td>The current humidity is: {{humidity}}</td>
    <td>The pressure is: {{pressure}}</td>
    <td>The visibility is: {{visibility}}</td>
    <td>The current wind speed is: {{windSpeed}}</td>
    <td>The current dew point is: {{dewPoint}}</td>
   </tr>
</table>
