<h1>The seven day forecast is:</h1>
<h2>High: {{data.1.temperatureMax}} Low: {{data.1.temperatureMin}}</h2>
<h2>High: {{data.2.temperatureMax}} Low: {{data.2.temperatureMin}}</h2>
<h2>High: {{data.3.temperatureMax}} Low: {{data.3.temperatureMin}}</h2>
<h2>High: {{data.4.temperatureMax}} Low: {{data.4.temperatureMin}}</h2>
<h2>High: {{data.5.temperatureMax}} Low: {{data.5.temperatureMin}}</h2>
<h2>High: {{data.6.temperatureMax}} Low: {{data.6.temperatureMin}}</h2>
<h2>High: {{data.7.temperatureMax}} Low: {{data.7.temperatureMin}}</h2>
