<h1>It is currently {{currently.temperature}} degrees outside and {{currently.summary}}.</h1>
<h2>The high for today is {{today.data.0.temperatureMax}} and the low is {{today.data.0.temperatureMin}}</h2>
<h2>{{today.summary}}</h2>

